.overlayContainer_ba4b17 {
	.hangStatusContainer_ba4b17 {
		border-radius: $rounding-40px;

		.hangStatusSmall_ba4b17 {
			border-radius: $rounding-32px;
		}
	}

	.overlayTitle_ba4b17,
	.status_ba4b17 {
		border-radius: $rounding-32px;
	}
}
