.overlayContainer__2f4f7 {
	.hangStatusContainer__2f4f7 {
		border-radius: $rounding-40px;

		.hangStatusSmall__2f4f7 {
			border-radius: $rounding-32px;
		}
	}

	.experimentOverlayTitle__2f4f7,
	.overlayTitle__2f4f7,
	.status__2f4f7 {
		border-radius: $rounding-32px;
	}
}
