.listItem__650eb .wrapper_cc5dd2 {
	svg > defs > rect {
		&[id$="upper_badge_masks"],
		&[id$="lower_badge_masks"] {
			rx: calc($badgeRounding * 2);
			ry: calc($badgeRounding * 2);
		}
	}
}

.base__2b1f5.eyebrow__2b1f5 {
	&.baseShapeRound__2b1f5,
	&.liveShapeRound_a7acae {
		border-radius: $badgeRounding;
	}
}
