div.listItem_c96c45 div.wrapper_c5f96a {
	svg > defs > rect {
		&[id$=upper_badge_masks],
		&[id$=lower_badge_masks] {
			rx: calc($badgeRounding * 2);
			ry: calc($badgeRounding * 2);
		}
	}
}

.base_df8943.eyebrow_df8943 {
	&.baseShapeRound_df8943,
	&.liveShapeRound_e17fae {
		border-radius: $badgeRounding
	}
}
