div.streamQualityIndicator__1fe46 {
	.baseShapeRoundLeft_c1e45f {
		border-radius: $radius 0 0 $radius;
	}
	div.liveIndicator__2469a {
		border-radius: 0 $radius $radius 0 !important;

		.liveShapeRoundRight_ae9843 {
			border-radius: 0 $radius $radius 0;
		}
	}
}
