.streamQualityIndicator_c5881c {
	.baseShapeRoundLeft_df8943 {
		border-radius: $badgeRounding 0 0 $badgeRounding;
	}
	.liveIndicator_c5881c {
		border-radius: 0 $badgeRounding $badgeRounding 0 !important;
		.liveShapeRoundRight_e17fae {
			border-radius: 0 $badgeRounding $badgeRounding 0;
		}
	}
}
