.streamQualityIndicator__30845 {
	.baseShapeRoundLeft__2b1f5 {
		border-radius: $badgeRounding 0 0 $badgeRounding;
	}
	.liveIndicator__30845 {
		border-radius: 0 $badgeRounding $badgeRounding 0 !important;
		.liveShapeRoundRight_a7acae {
			border-radius: 0 $badgeRounding $badgeRounding 0;
		}
	}
}
