.privateChannels__93473 {
	background-color: unset;

	.searchBar_e4ea2a {
		background-color: $background-color-left;
		margin: 0px calc($ident / 2) calc($ident / 2) 0px;
		border-radius: $border-radius;
	}

	.scroller__4b984 {
		background-color: $background-color-left;
		margin: calc($ident / 2) calc($ident / 2) calc($ident / 2) 0px;
		border-radius: $border-radius;
	}
}
