nav.container__590e2 {
	background-color: unset !important;
	border-radius: $border-radius;

	.container__7c79d.clickable__2d589 {
		margin: 0px calc($ident / 2) calc($ident / 2) 0px;
		background-color: $background-color-left;
		border-radius: $border-radius;

		.header__104ca {
			border-radius: $border-radius;
			box-shadow: unset;
		}

		.animatedContainer__341f6 {
			border-radius: $border-radius;
			box-shadow: unset;
			display: none;
		}
	}

	div#channels {
		background-color: $background-color-left;
		margin: calc($ident / 2) calc($ident / 2) calc($ident / 2) 0px;
		border-radius: $border-radius;

		> ul > div[style="height: 84px;"] {
			display: none;
		}
	}
}
