.privateChannels__93473 {
	background-color: $background-color-left;
	margin: 0px calc($ident / 2) calc($ident / 2) 0px;
	border-radius: $border-radius;
}

.scroller__4b984.thin_b1c063.scrollerBase_dc3aa9.fade_ba0fa0 {
	background-color: unset;
}
