.panels__58331 {
	background-color: unset;

	.panel_bd8c76.activityPanel__22355 {
		background-color: $background-color-left !important;
		margin: calc($ident / 2) calc($ident / 2) $ident 0px;
		border-radius: $border-radius;
		border-bottom: unset;
	}

	.wrapper__0ed4a:has(*) {
		background-color: $background-color-left !important;
		margin: calc($ident / 2) calc($ident / 2) $ident 0px;
		border-radius: $border-radius;

		> div {
			border-bottom: unset;
		}

		.container_d667ff {
			background-color: unset;
			// border-bottom: unset;
		}
	}

	.container_ca50b9 {
		background-color: $background-color-left !important;
		margin: calc($ident / 2) calc($ident / 2) $ident 0px;
		border-radius: $border-radius;
		border-bottom: unset;
	}
}
