$status-online: var(--green-new-36);
$status-idle: var(--yellow-new-30);
$status-dnd: var(--red-new-40);

[fill="#43a25a"] {
	fill: $status-online;
}
[fill="#ca9654"] {
	fill: $status-idle;
}
[fill="#d83a42"] {
	fill: $status-dnd;
}

[style="background-color: rgb(64, 162, 90);"] {
	background-color: $status-online !important;
}
[style="background-color: rgb(202, 150, 84);"] {
	background-color: $status-idle !important;
}
[style="background-color: rgb(216, 58, 66);"] {
	background-color: $status-dnd !important;
}
