#app-mount > svg > mask {
	&[id^="svg-mask-channel-call-control-button"] {
		& > circle[fill="white"] {
			r: 1;
		}
	}
}

// callContainer bottom
.centerButton_f1ceac {
	border-radius: $rounding-48px;
}

// callContainer "Join Voice"
.joinButton__5aa3a {
	border-radius: $rounding-36px;
}

// callContainer "Watch Stream"
.cta_a3a802 {
	border-radius: $rounding-40px;
}

// TODO
// callContainer
.participantsButton__211d1 {
	border-radius: $rounding-32px;
}

// TODO
// videoGrid tile
.button__201d5.sizeLarge__201d5 {
	border-radius: $rounding-48px;
}

// DM Friends tab
.actionButton_f8fa06 {
	border-radius: $rounding-36px;
}

// TODO
// Forum "New Post"
.form_d9be46 .submitButton_d9be46 {
	border-radius: $rounding-36px;
}

// TODO
// Forum tags
.sortDropdown_f369db,
.tagsButton_f369db,
.pill_a2c9e8 {
	border-radius: $rounding-32px;
}

:where(.button_fb7f94).banner_fb7f94, :where(.button_fb7f94).hover_fb7f94 {
	border-radius: $rounding-32px;
}

// app-panel voice buttons
.visual-refresh .experimentButton_e131a9,
section.panels_c48ade .voiceButtonsContainer_e131a9 > button,
.visual-refresh button.button__67645,
.visual-refresh span.button__67645 {
	border-radius: $rounding-32px;
}
