#app-mount > svg > mask {
	&[id^=svg-mask-channel-call-control-button] {
		& > circle[fill="white"] {
			r: 1;
		}
	}
}

// callContainer bottom
.centerButton_ef18ee {
	padding: 12px 12px;
	border-radius: $rounding-48px;
}

// callContainer "Join Voice"
.joinButton_f2bd71 {
	border-radius: $rounding-36px;
}

// callContainer "Watch Stream"
.cta_cdef0d {
	border-radius: $rounding-40px;
}

// callContainer
.participantsButton_b83b18 {
	border-radius: $rounding-32px;
}

// videoGrid tile
.button_dd4f85.sizeLarge_dd4f85 {
	border-radius: $rounding-48px;
}

// DM Friends tab
.actionButton_e01b91 {
	border-radius: $rounding-36px;
}

// Forum "New Post"
.form_c1668f .submitButton_c1668f {
	border-radius: $rounding-36px;
}

// Forum tags
.sortDropdown_a6d69a,
.tagsButton_a6d69a,
.pill_c993da {
	border-radius: $rounding-32px;
}
