$rounding-radius: 18;

$rounding-16px: calc(16px / 100 * $rounding-radius);
$rounding-20px: calc(20px / 100 * $rounding-radius);
$rounding-24px: calc(24px / 100 * $rounding-radius);
$rounding-32px: calc(32px / 100 * $rounding-radius);
$rounding-36px: calc(36px / 100 * $rounding-radius);
$rounding-40px: calc(40px / 100 * $rounding-radius);
$rounding-48px: calc(48px / 100 * $rounding-radius);
$rounding-56px: calc(56px / 100 * $rounding-radius);
$rounding-80px: calc(80px / 100 * $rounding-radius);
$rounding-120px: calc(120px / 100 * $rounding-radius);
$rounding-2d5rem: calc(2.5rem / 100 * $rounding-radius);
