// --brand-500: 235 85.6% 64.7%

$brand-h: 215.56;
$brand-s: 53.78%;
$brand-l: 49.22%;

@use "../utils";
@use "sass:color";

$brand-shades:
	100, 130, 160, 200,
	230, 260, 300, 330,
	345, 360, 400, 430,
	460, 500, 530, 560,
	600, 630, 660, 700,
	730, 760, 800, 830,
	860, 900;

:root {
	@each $shade in $brand-shades {
		$mult: 0;
		$s: 0;
		$l: 0;

		@if 500 >= $shade {
			$mult: calc(1 - ($shade - 100) / 400);
			$s: utils.lerp($mult, $brand-s, 0%);
			$l: utils.lerp($mult, $brand-l, 100%);
		} @else {
			$mult: calc(($shade - 500) / 400);
			$s: utils.lerp($mult, $brand-s, 0%);
			$l: utils.lerp($mult, $brand-l, 0%);
		}

		--brand-#{$shade}-hsl: #{$brand-h} calc(var(--saturation-factor, 1) * #{$s}) #{$l};
	}
}
