// --brand-500: 235 85.6% 64.7%

$brand-h: 215.56;
$brand-s: 53.78%;
$brand-l: 49.22%;

$default-h: 240, 236, 235, 236, 236, 235, 235, 235, 235, 235, 235, 235, 235, 235, 235, 235, 235, 235, 235, 235, 235, 234,
	235, 235, 235, 233;
$default-s: 77.8, 87.5, 84.6, 83.3, 87, 86.2, 86.1, 85.1, 85.2, 86.1, 86.1, 85.7, 85.5, 85.6, 66.7, 51.4, 46.7, 46.7,
	47.1, 47, 46.8, 46.9, 47.5, 47.4, 46.9, 50;
$default-l: 98.2, 96.9, 94.9, 92.9, 91, 88.6, 85.9, 81.6, 78.8, 77.5, 71.8, 69.8, 67.5, 64.7, 58.8, 52.4, 44.1, 38.2,
	33.3, 25.9, 24.3, 22.2, 19.4, 14.9, 9.6, 3.1;

$brand-shades: 100, 130, 160, 200, 230, 260, 300, 330, 345, 360, 400, 430, 460, 500, 530, 560, 600, 630, 660, 700, 730,
	760, 800, 830, 860, 900;

:root {
	@for $i from 1 through length($brand-shades) {
		$shade: nth($brand-shades, $i);
		$orig-h: nth($default-h, $i);
		$orig-s: nth($default-s, $i);
		$orig-l: nth($default-l, $i);

		$h: calc($brand-h + $orig-h - 235);
		$s: calc($brand-s * $orig-s / 85.6);
		$l: calc($brand-l * $orig-l / 64.7);

		--brand-#{$shade}-hsl: #{$h} calc(var(--saturation-factor, 1) * #{$s}) #{$l};
	}
}
