$brand-h: 217;
$brand-s: 91%;
$brand-l: 54%;

@use "palette";

:root {
	@include palette.generator((white hsl($brand-h $brand-s $brand-l) black), 1, 100, 1) using ($weight, $color) {
    --blurple-#{$weight}-hsl: #{hue($color)} calc(var(--saturation-factor, 1) * #{saturation($color)}) #{lightness($color)};
  }
}
