$green-h: 125;
$green-s: 100%;
$green-l: 30%;

@use "palette";

:root {
	@include palette.generator((white hsl($green-h $green-s $green-l) black), 1, 100, 1) using ($weight, $color) {
    --green-new-#{$weight}-hsl: #{hue($color)} calc(var(--saturation-factor, 1) * #{saturation($color)}) #{lightness($color)};
  }
}
