$neutral-h: 220;
$neutral-s: 2.941%;
$neutral-l: 18.333%;

@use "palette";

:root {
	@include palette.generator((white hsl($neutral-h $neutral-s $neutral-l) black), 1, 100, 1) using ($weight, $color) {
    --neutral-#{$weight}-hsl: #{hue($color)} calc(var(--saturation-factor, 1) * #{saturation($color)}) #{lightness($color)};
  }
}
