$red-h: 000;
$red-s: 100%;
$red-l: 45%;

@use "palette";

:root {
	@include palette.generator((white hsl($red-h $red-s $red-l) black), 1, 100, 1) using ($weight, $color) {
    --red-new-#{$weight}-hsl: #{hue($color)} calc(var(--saturation-factor, 1) * #{saturation($color)}) #{lightness($color)};
  }
}
