$btnWidth: 60px; // Default: 50px

.container_adcaac {
	.actionButtons_adcaac {
		grid-template-columns: repeat(4, $btnWidth);

		& > button:nth-child(3),
		& > div:nth-child(4) {
			display: none;
		}

		.buttonIcon_adcaac {
			width: 20px !important;
			height: 20px !important;
		}
	}

	.flex_bba380.horizontal_bba380.justifyStart_ec1a20.alignStretch_ec1a20.noWrap_ec1a20 {
		position: absolute;
		right: 0px;
		bottom: 1px;

		display: grid;
		grid-template-columns: repeat(2, $btnWidth);
		grid-gap: 8px;
		justify-content: space-between;
		padding: 8px;
		margin-left: unset;

		& > button {
			width: 100%;
			background-color: var(--background-primary);
			color: var(--interactive-active);

			&:hover {
				background-color: var(--background-secondary);
			}
		}
	}
}
