.container_e1958d {
	.actionButtons__85e3c {
		grid-template-columns: repeat(4, 50px);

		& > button:nth-child(3),
		& > div:nth-child(4) {
			display: none;
		}
	}

	.flex_f18b02.horizontal__4848b.justifyStart__6f8c8.alignStretch__2d62d.noWrap__5c413 {
		position: absolute;
		right: 0px;
		bottom: 9px;

		& > button {
			width: 50px;
			margin-right: 8px;
			background-color: var(--background-primary);
			color: var(--interactive-active);

			&:hover {
				background-color: var(--background-secondary);
			}

//			&:nth-child(2) {
//				background-color: var(--red-430);
//				color: var(--white-500) !important;
//
//				&:hover {
//					background-color: var(--red-500);
//					color: var(--white-500) !important;
//				}
//			}
		}
	}
}
