$background-color: var(--background-tertiary);

.theme-dark .container__590e2 {
	border-bottom-left-radius: 8px;
}

.theme-dark .container_ca50b9 {
	background-color: $background-color;
}

.theme-dark .panel_bd8c76 {
	background-color: $background-color;
}

.activityPanel__22355 {
	border-bottom: unset;
}

.container_d667ff {
	border-bottom: unset;
	background-color: $background-color;
}

.sidebar_ded4b5 {
	background-color: unset
}
