// (webpackChunkdiscord_app.push([[''],{},e=>{m=[];for(let c in e.c)m.push(e.c[c])}]),m).find(m=>m?.exports?.ICONS!==void 0).exports.ICONS.forEach((icon)=>console.log(`\$${icon.id}: "${icon.iconSource}"; // ${icon.name}`))

$BrandDarkIcon: "/assets/e3fc64532265764e1d67.webp"; // Goth
$MangaIcon: "/assets/003c16533dc9327b66d8.webp"; // WHAM
$MatteDarkIcon: "/assets/b9ba392d5652d7047b69.webp"; // Charcoal
$MatteLightIcon: "/assets/c53596a8aabec268677f.webp"; // Ceramic
$PastelIcon: "/assets/364d22ce868c406cf13a.webp"; // Pastel
$PirateIcon: "/assets/7fdb7c4b9dac8c9db942.webp"; // Matey
$CamoIcon: "/assets/2f906bd6a510974effa3.webp"; // Tactical
$SunsetIcon: "/assets/9bcd500d06a4e99eef38.webp"; // Sunset Ave
$GalaxyIcon: "/assets/a28b009dcc138c849209.webp"; // Galactic Chrome
$Y2KIcon: "/assets/1779971f835dfdb63d9f.webp"; // Holo
$CherryBlossomIcon: "/assets/3ea3e47f993b5620ea25.webp"; // Sakura
$BeanieIcon: "/assets/15fa601cc9c87bee2e26.webp"; // Sherbet Dreamsicle
$GamingIcon: "/assets/31efa1913785fddb04d9.webp"; // Gaming
$CircuitIcon: "/assets/a0e8219e310053130cba.webp"; // Mainframe
$HoloWavesIcon: "/assets/720b20f6ecb7b2995714.webp"; // Prismatic Waves
$BlushIcon: "/assets/e0fe5bc7745f71705066.webp"; // uwu~
$AngryIcon: "/assets/2a9096474ecb8192b3ce.webp"; // Fuming
$ControllerIcon: "/assets/1d8770de85cb6d5284a5.webp"; // D64

@function urlRelative($path) {
	@return
		url($path),
		url("https://discord.com" + $path),
		url("https://ptb.discord.com" + $path),
		url("https://canary.discord.com" + $path);
}

div.listItemWrapper__3d465 > div > svg > foreignObject {
	& > div.wrapper__8436d[data-list-item-id=guildsnav___home] {
		& > div.childWrapper_a6ce15 {
			background-image: urlRelative($CherryBlossomIcon);
			background-size: 100% 100%;

			& > svg {
				display: none;
			}
		}
	}
}
