// (webpackChunkdiscord_app.push([[''],{},e=>{m=[];for(let c in e.c)m.push(e.c[c])}]),m).find(m=>m?.exports?.ICONS!==void 0).exports.ICONS.forEach((icon)=>console.log(`\$${icon.id}: "${icon.iconSource}"; // ${icon.name}`))

$BrandDarkIcon: "/assets/022b56a46027cd8944a0.webp"; // Goth
$MangaIcon: "/assets/8d8764191e7377ce6d1c.webp"; // WHAM
$MatteDarkIcon: "/assets/4a39ebc7865c34cb05ca.webp"; // Charcoal
$MatteLightIcon: "/assets/259c9e517e54b637bc8b.webp"; // Ceramic
$PastelIcon: "/assets/536c4ee2800f76d480f2.webp"; // Pastel
$PirateIcon: "/assets/1ef51ba4b86ea4257b1e.webp"; // Matey
$CamoIcon: "/assets/594e671c4337bdaa354d.webp"; // Tactical
$SunsetIcon: "/assets/7f15142d4ff388f352cd.webp"; // Sunset Ave
$GalaxyIcon: "/assets/1cc2c82a6058a7cc380c.webp"; // Galactic Chrome
$Y2KIcon: "/assets/edc57c29789364e356a8.webp"; // Holo
$CherryBlossomIcon: "/assets/cd734396523f0ccd8985.webp"; // Sakura
$BeanieIcon: "/assets/2c98b86ce7d10c0ddeb3.webp"; // Sherbet Dreamsicle
$GamingIcon: "/assets/fd693e96180f96c3708b.webp"; // Gaming
$CircuitIcon: "/assets/7509dcee3065c41654b1.webp"; // Mainframe
$HoloWavesIcon: "/assets/5e4012ec7d5cc0f2d584.webp"; // Prismatic Waves
$BlushIcon: "/assets/eca1ee6a7f84f537506b.webp"; // uwu~
$AngryIcon: "/assets/e8b3942d0a8f2667f170.webp"; // Fuming
$ControllerIcon: "/assets/c24789d71a791a531bd7.webp"; // D64
$BlurpleTwilightIcon: "/assets/f5142ff9381de17c7591.webp"; // Blurple Twilight
$InRainbowsIcon: "/assets/964564da43ac1eed1a24.webp"; // In Rainbows
$MidnightPrismIcon: "/assets/5b827a22c6090c898656.webp"; // Midnight Prism
$ColorWaveIcon: "/assets/b165b3568ab797c79bda.webp"; // Color Wave

@function urlRelative($path) {
	@return url($path), url("https://discord.com" + $path), url("https://ptb.discord.com" + $path),
		url("https://canary.discord.com" + $path);
}

div.wrapper_f90abb[data-list-item-id="guildsnav___home"] {
	& > div.childWrapper_f90abb {
		background-image: urlRelative($CherryBlossomIcon);
		background-size: 100% 100%;

		& > svg {
			display: none;
		}
	}
}
