.botTag__5d473,
.botTag__82f07,
.botTag_c19a55 {
	background-color: unset;

	span {
		display: none;
	}

	.botTagVerified__82f07 {
		position: absolute;
		margin-left: unset;
		opacity: 0;
	}

	&.px__82f07 {
		padding: unset;
	}

	&::after {
		content: "";
		background-image: insertFile("/src/assets/botTag.svg");
		background-size: contain;
		display: inline-block;
		width: 14px;
		height: 14px;
	}
}
