.botTag_a31c43,
.botTag_a02df3,
.botTag_ec86aa {
	background-color: unset;

	span {
		display: none;
	}

	.botTagVerified_a02df3 {
		position: absolute;
		margin-left: unset;
		opacity: 0;
	}

	&.px__7f04f {
		padding: unset;
	}

	&::after {
		content: "";
		background-image: insertFile("/src/assets/botTag.svg");
		background-size: contain;
		display: inline-block;
		width: 14px;
		height: 14px;
	}
}
