.botTag_a31c43,
.botTag_a9e77f,
.botTag_f9f2ca {
	background-color: unset;

	span {
		display: none;
	}

	.botTagVerified_a9e77f {
		position: absolute;
		margin-left: unset;
		opacity: 0;
	}

	&.px_a9e77f {
		padding: unset;
	}

	&::after {
		content: "";
		background-image: insertFile("/src/assets/botTag.svg");
		background-size: contain;
		display: inline-block;
		width: 14px;
		height: 14px;
	}
}
