.messagesWrapper_e2e187 {
	.barBase_cf58b5 {
		&.newMessagesBar_cf58b5 {
			border-radius: unset;
			background: none;
			box-shadow: none;
			height: 48px;
			justify-content: center;
			width: fit-content;
			left: 50%;
			transform: translateX(-50%);

			.barButtonBase_cf58b5 {
				height: 32px;

				&.barButtonMain_cf58b5 {
					flex: unset;
					background-color: var(--primary-400);
					border-radius: 4px 0px 0px 4px;

					.span_cf58b5 {
						display: none;
					}

					&:after {
						content: "Scroll To Unread";
					}
				}

				&.barButtonAlt_cf58b5 {
					background-color: var(--brand-500);
					border-radius: 0px 4px 4px 0px;
				}
			}
		}

		&.jumpToPresentBar_cf58b5 {
			border-radius: unset;
			background: none;
			height: 48px;
			justify-content: center;
			width: fit-content;
			left: 50%;
			transform: translateX(-50%);

			.barButtonBase_cf58b5 {
				height: 32px;

				&.barButtonMain_cf58b5 {
					display: none;
				}

				&.barButtonAlt_cf58b5 {
					background-color: var(--brand-500);
					border-radius: 4px;
				}
			}
		}
	}
}
