.messagesWrapper_add28b {
	.barBase__8839d {
		&.newMessagesBar__8b272 {
			border-radius: unset;
			background: none;
			box-shadow: none;
			height: 48px;
			justify-content: center;
			width: fit-content;
			left: 50%;
    		transform: translateX(-50%);

			button.barButtonBase__5e4cf {
				height: 32px;

				&.barButtonMain__984b4 {
					flex: unset;
					background-color: var(--primary-400);
					border-radius: 4px 0px 0px 4px;

					.span_b2761b {
						display: none;
					}

					&:after {
						content: "Scroll To Unread";
					}
				}

				&.barButtonAlt_e800ef {
					background-color: var(--brand-experiment);
					border-radius: 0px 4px 4px 0px;
				}
			}
		}

		&.jumpToPresentBar__69174 {
			border-radius: unset;
			background: none;
			height: 48px;
			justify-content: center;
			width: fit-content;
			left: 50%;
			transform: translateX(-50%);

			button.barButtonBase__5e4cf {
				height: 32px;

				&.barButtonMain__984b4 {
					display: none;
				}

				&.barButtonAlt_e800ef {
					background-color: var(--brand-experiment);
					border-radius: 4px;
				}
			}
		}
	}
}
