// copy of memberListCompact

.channel__972a0.container_e45859:has(.closeButton__972a0) .layout__20a53 {
	flex-grow: 1;
	padding: 4px 0;
	height: 32px;

	.avatar__20a53 {
		width: 24px;
		height: 24px;
		margin-right: 8px;

		.wrapper__44b0c {
			width: 24px !important;
			height: 24px !important;

			> svg {
				width: 30px;
				height: 30px;

				&:has(foreignObject[mask="url(#svg-mask-avatar-default)"]) {
					width: 24px;
					height: 24px;
				}

				foreignObject {
					mask: url(#svg-mask-avatar-default);
				}

				> *:not(foreignObject) {
					display: none;
				}
			}
		}
	}

	.nameAndDecorators__20a53 {
		justify-content: space-between;

		.name__20a53 {
			flex: auto;
			font-size: 14px;
		}

		.vc-platform-indicator {
			display: none;
		}

		.botTag__82f07 {
			margin-right: 3px;
		}
	}

	.subText__20a53 {
		display: none;
		zoom: 0.8;
	}
}
