.pill_a5ad63 {
	&.wrapper_c4cd66 {
		width: 12px;
		justify-content: center;

		.item_c4cd66 {
			margin-left: unset !important;
			border-radius: 4px;
			transform: none !important;
			zoom: 0.5;
		}
	}
}
