div.pill__6b31b, div.pill_d1140c, div.pill__13f64 {
	&.wrapper_b4903b {
		width: 12px;
		justify-content: center;

		span.item_f9d377 {
			margin-left: unset !important;
			border-radius: 4px;
			transform: none !important;
			zoom: 0.5;
		}
	}
}
