.pill_e5445c {
	&.wrapper__58105 {
		width: 12px;
		justify-content: center;

		.item__58105 {
			margin-left: unset !important;
			border-radius: 4px;
			transform: none !important;
			zoom: 0.5;
		}
	}
}
