.memberInner_a31c43.layout_d808b0 {
	height: 32px;

	.avatar_d808b0 {
		width: 24px;
		height: 24px;

		.wrapper_c51b4e {
			width: 24px !important;
			height: 24px !important;

			& > svg {
				width: 30px;
				height: 30px;

				&:has(foreignObject[mask="url(#svg-mask-avatar-default)"]) {
					width: 24px;
					height: 24px;
				}

				foreignObject {
					mask: url(#svg-mask-avatar-default);
				}

				& > *:not(foreignObject) {
					display: none;
				}
			}
		}
	}

	.nameAndDecorators_d808b0 {
		justify-content: space-between;

		.name_d808b0 {
			flex: auto;
			font-size: 14px;
		}

		.vc-platform-indicator {
			order: 1;
			margin-left: unset !important;
		}

		.icon_a31c43 {
			margin-left: unset;
			width: 12px;
			height: 12px;

			&.premiumIcon_a31c43 {
				margin-top: 2px;
			}
		}
	}

	.subText_d808b0 {
		display: none;
		zoom: 0.8;
	}
}
