div.members__573eb {
	h3.membersGroup_cad095.container__43554 {
		margin-top: 5px;
	}

	div.member_aa4760.member_b44d5d.container_a48b21 {
		&.selected__7f4cb::after {
			border-radius: 4px;
			background: white
		}

		div.nameAndDecorators__389dd {
			z-index: 0;

			span.username__4a6f7.desaturateUserColors_eb6bd2::after {
				content: '';
				top: 3px;
				left: 2px;
				width: 220px;
				height: 40px;
				position: absolute;
				opacity: 0.1;
				background: currentColor;
				border-radius: 3px;
			}
		}
	}
}
