// Removes status (both), reduces the size of the avatar and nickname, and moves the vc-platform-indicator icons to the right edge.

.visual-refresh {
	--custom-member-list-width: 280px;
}

.memberInner__5d473.layout__91a9d {
	box-sizing: unset;
	padding: 4px 0;
	height: 32px;
	width: 100%;

	.avatar__91a9d {
		width: 24px;
		height: 24px;
		margin-right: 8px;

		.wrapper__44b0c {
			width: 24px !important;
			height: 24px !important;

			> svg {
				width: 30px;
				height: 30px;

				&:has(foreignObject[mask="url(#svg-mask-avatar-default)"]) {
					width: 24px;
					height: 24px;
				}

				foreignObject {
					mask: url(#svg-mask-avatar-default);
				}

				> *:not(foreignObject) {
					display: none;
				}
			}
		}
	}

	.nameAndDecorators__91a9d {
		justify-content: space-between;

		.name__91a9d {
			flex: auto;
			font-size: 14px;
		}

		.vc-member-list-decorators-wrapper {
			margin-left: unset;
			order: 1;

			.vc-platform-indicator {
				flex-direction: row-reverse;

				svg {
					width: 12px;
					height: 12px;
				}
			}
		}

		.icon__5d473 {
			margin-left: unset;
			width: 12px;
			height: 12px;
			top: unset;

			&.premiumIcon__5d473 {
				margin-top: 2px;
			}
		}
	}

	.subText__91a9d {
		display: none;
		zoom: 0.8;
	}
}
