@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

.messagesWrapper_e2e187 {
	.scrollerInner_e2e187 {
		& > .divider_d5deea,
		& > .messageListItem_d5deea,
		& > .backgroundFlash_d5deea {
			animation: slide-up 0.4s ease;
		}
	}
}
