@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

div.messagesWrapper_e2e187 {
	& > div > div > ol.scrollerInner_e2e187 {
		& > div.divider_d5deea,
		& > li.messageListItem_d5deea,
		& > div.backgroundFlash_d5deea {
			animation: slide-up 0.4s ease;
		}
	}
}
