@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

.messagesWrapper__36d07 {
	.scrollerInner__36d07 {
		& > .divider__5126c,
		& > .messageListItem__5126c,
		& > .backgroundFlash__5126c {
			animation: slide-up 0.4s ease;
		}
	}
}
