svg.svg_a26d7b {
	&.roleDot_f23da8,
	&.roleDot_e4010c,
	&.roleDot_ec86aa,
	&.roleDotLeft_de3235 {
		& > path.background_a26d7b,
		& > circle.dotBorderBase_a26d7b,
		& > circle.dotBorderColor_a26d7b {
			display: none;
		}

		& > circle.dot_a26d7b {
			r: 32;
		}

		width: 4px;
		height: 12px;
		border-radius: 2px;
		margin-bottom: 3px;
	}

	&.roleDot_e4010c {
		margin-bottom: 1px;
		margin-right: 3px;
	}

	&.roleDot_f23da8 {
		margin-right: 8px;
	}
}
