svg.svg__90e76 {
	&.roleDot_bdebbf,
	&.roleDot__4756e,
	&.roleDot_f86e49,
	&.roleDotLeft__71172 {
		& > path.background__1d8f0,
		& > circle.dotBorderBase_bfd7ce,
		& > circle.dotBorderColor__73b9c {
			display: none;
		}

		& > circle.dot__3e6f0 {
			r: 32;
		}

		width: 4px;
		height: 12px;
		border-radius: 2px;
		margin-bottom: 3px;
	}

	&.roleDot__4756e {
		margin-bottom: 1px;
		margin-right: 3px;
	}

	&.roleDot_bdebbf {
		margin-right: 8px;
	}
}
