/*
 * ChannelListWidth
 * by Saltssaumure @ MiniDiscordThemes
 * https://github.com/MiniDiscordThemes/Snippets/tree/main/themes/ChannelListWidth
 */

$channellist-width: 280px;
$channellist-header-height: 48px;

$default-banner-height: 135px;
$default-banner-width: 240px;
$sidebar-width-multiplier: calc($channellist-width / $default-banner-width);
$banner-height: calc($sidebar-width-multiplier * $default-banner-height);

// Channels list
html:not(.visual-refresh) .sidebar_a4d4d9 {
	&:not(.hidden_a4d4d9) {
		width: $channellist-width !important;
	}

	// Server name header
	.headerContent_fd6364 {
		height: calc($channellist-header-height - 24px);
	}

	// Banner
	.animatedContainer_fd6364 {
		height: $banner-height;
	}

	// Prevent banner overlapping outer
	.animatedContainer_fd6364,
	.bannerImage_fd6364 {
		transform: none !important;
		min-height: $channellist-header-height;
	}
	.bannerImage_fd6364,
	.bannerImg_fd6364 {
		width: inherit;
	}
	.bannerImg_fd6364 {
		height: unset;
		min-height: $channellist-header-height;
	}

	// Resize banner-channels spacers in servers with banners
	&:has(.animatedContainer_fd6364) {
		// Servers with boost goal
		&:has(.container_c75f85) {
			:not(.sectionDivider_c43953) + div[style="height: 12px;"] {
				height: calc($banner-height - $channellist-header-height) !important;
			}
			div[style="height: 84px;"] {
				height: 0 !important;
			}
		}

		// Servers without boost goal
		& {
			:not(.sectionDivider_c43953) + div[style="height: 12px;"] {
				height: calc($banner-height - $channellist-header-height - 84px) !important;
			}
			div[style="height: 84px;"] {
				height: calc($banner-height - $channellist-header-height) !important;
			}
		}
	}

	// Flexier user panel
	.container_b2ca13 {
		box-sizing: border-box;
		min-height: 53px;
		height: auto;
		padding: 4px 8px 6px;
		row-gap: 5px;
		column-gap: 8px;
		// flex-wrap: wrap-reverse;
		justify-content: space-between;

		.avatarWrapper_b2ca13 {
			max-width: 100%;
			width: 100%;
		}
	}

	// DM list fix
	.channel_c91bad {
		max-width: unset;
	}
}
