div.accountProfilePopoutWrapper_b2ca13 {
	left: 0px;

	.userPopoutOuter_c69a7b {
		margin: 0px;
		width: 228px;
		border-radius: 4px;

		.userPopoutInner_c69a7b {
			& > .bannerSVGWrapper_b32cc2,
			& > .avatarWrapper_f89da9,
			& > .profileBadges_f89da9 {
				display: none;
			}

			& > .userPopoutOverlayBackground_c69a7b {
				margin: unset;
				border-radius: 4px;

				& > .usernameSection_d2b491,
				& > .customStatusSection_d2b491,
				& > .divider_ae36e5,
				& > .scrollerBase_c49869 {
					display: none;
				}
			}
		}
	}
}
