#account-status-picker--online {
	--brand-experiment-560: var(--green-360);
}

#account-status-picker--dnd {
	--brand-experiment-560: var(--red-400);
}

#account-status-picker--idle {
	--brand-experiment-560: var(--yellow-330);
}

// #account-status-picker--invisible {
// 	--brand-experiment-560: var(--primary-400);
// }

.accountProfilePopoutWrapper__37e49 .submenuPaddingContainer_c1e9c4 {
	transform: translate(16px, -8px);

	.submenu_c1e9c4 {
		min-width: unset;

		& > div {
			display: flex;
		}

		.separator_c1e9c4 {
			display: none;
		}

		.statusItem_af7fb7 {
			display: grid;
			grid-template-rows: 10px 1fr;
			grid-template-columns: 10px 1fr;
			padding: 11px 11px;

			.status_af7fb7,
			.description_af7fb7 {
				display: none;
			}
		}
	}
}
