#account-status-picker--online {
	--brand-experiment-560: var(--green-360);
}

#account-status-picker--dnd {
	--brand-experiment-560: var(--red-400);
}

#account-status-picker--idle {
	--brand-experiment-560: var(--yellow-330);
}

// #account-status-picker--invisible {
// 	--brand-experiment-560: var(--primary-400);
// }

#account div#account-status-picker + div {
	.submenu_aed9ee {
		min-width: unset;

		& > div {
			display: flex;
		}

		.separator__174fc {
			display: none;
		}

		.statusItem__24445 {
			display: grid;
			grid-template-rows: 10px 1fr;
			grid-template-columns: 10px 1fr;
			padding: 11px 11px;

			.status__8c19b,
			.description_d1e167 {
				display: none;
			}
		}
	}
}
