.accountProfilePopoutWrapper_b2ca13 {
	left: 0px;

	.userPopoutOuter_c69a7b {
		margin: 0px;
		border-radius: 12px;
		width: 268px; /* 228px */

		.userPopoutInner_c69a7b {
			padding-bottom: unset;

			& > .wrapper_cb78f1.biteSize_cb78f1,
			& > .header_b8cc6d {
				display: none;
			}

			& > .body_ad5fac {
				overflow: unset !important;
				padding: 12px !important;

				.menus_ad5fac {
					gap: 12px;
				}

				.username_ad5fac {
					display: none;
				}
			}
		}
	}
}
