div.accountProfilePopoutWrapper_d4887f {
	left: 0px;

	.userPopoutOuter__3884e {
		margin: 0px;
		width: 228px;
		border-radius: 4px;

		.userPopoutInner_e90432 {
			& > .bannerSVGWrapper__8a38c,
			& > .avatarWrapper__0cd44,
			& > .profileBadges__1f2ab {
				display: none;
			}

			& > .userPopoutOverlayBackground_bf6444 {
				margin: unset;
				border-radius: 4px;

				& > .usernameSection_dd6196,
				& > .customStatusSection_c9f9ba,
				& > .divider_d6f39c,
				& > .scrollerBase__65223 {
					display: none;
				}
			}
		}
	}
}
