#account-status-picker--online {
	--brand-experiment-560: var(--green-360);
}

#account-status-picker--dnd {
	--brand-experiment-560: var(--red-400);
}

#account-status-picker--idle {
	--brand-experiment-560: var(--yellow-330);
}

// #account-status-picker--invisible {
// 	--brand-experiment-560: var(--primary-400);
// }

.accountProfilePopoutWrapper_b2ca13 .submenuPaddingContainer_d90b3d {
	transform: translate(16px, -8px);

	.submenu_d90b3d {
		min-width: unset;

		& > div {
			display: flex;
		}

		.separator_d90b3d {
			display: none;
		}

		.statusItem_ad5fac {
			display: grid;
			grid-template-rows: 10px 1fr;
			grid-template-columns: 10px 1fr;
			padding: 11px 11px;

			.status_ad5fac,
			.description_ad5fac {
				display: none;
			}
		}
	}
}
