.panels_a4d4d9 .inner_adcaac:has(div > a > div > p) {
	div > a > div > p {
		span {
			font-family: var(--font-primary) !important;
		}

		display: none;
		font-size: 14px;
		font-weight: 600;
		pointer-events: none;
		position: fixed;
		transform: translate(20px, -30px);
	}

	& > div {
		&:has(.rtcConnectionStatus_c02c63):has(.rtcConnectionStatusConnected_c02c63) {
			.labelWrapper_c02c63 {
				.rtcConnectionStatusConnected_c02c63 {
					opacity: 0;
					width: 100%;
				}

				width: 100%;
			}
			a > div > p {
				display: block;
			}
		}

		&:has(.rtcConnectionQualityFine_c02c63) {
			a > div > p {
				color: var(--text-positive);
			}
		}

		&:has(.rtcConnectionQualityAverage_c02c63) {
			a > div > p {
				color: var(--text-warning);
			}
		}

		&:has(.rtcConnectionQualityBad_c02c63) {
			a > div > p {
				color: var(--text-danger);
			}
		}
	}
}
