.panels_a4d4d9 .inner_adcaac:has(div > a > div > p) {
	div > a > div > p {
		span {
			font-family: var(--font-primary) !important;
		}

		display: none;
		font-size: 14px;
		font-weight: 600;
		pointer-events: none;
		position: fixed;
		transform: translate(19px, -34px);
	}

	& > div {
		&:has(.rtcConnectionStatus_c0cb95):has(.rtcConnectionStatusConnected_c0cb95) {
			.labelWrapper_c0cb95 {
				.rtcConnectionStatusConnected_c0cb95 {
					opacity: 0;
					width: 100%;
				}

				width: 100%;
			}
			a > div > p {
				display: block;
			}
		}

		&:has(.rtcConnectionQualityFine_c0cb95) {
			a > div > p {
				color: var(--text-positive);
			}
		}

		&:has(.rtcConnectionQualityAverage_c0cb95) {
			a > div > p {
				color: var(--text-warning);
			}
		}

		&:has(.rtcConnectionQualityBad_c0cb95) {
			a > div > p {
				color: var(--text-danger);
			}
		}
	}
}
