.vc-membercount-widget.vc-membercount-member-list {
	justify-content: unset;
	margin-top: unset;
	padding-inline: unset;

	flex-direction: column;
	pointer-events: none;

	height: auto;
	padding: var(--space-lg) var(--space-xxs) var(--space-xxs) var(--space-md);

	.vc-membercount-online-dot,
	.vc-membercount-total-dot {
		display: none;
	}

	.vc-membercount-online,
	.vc-membercount-total {
		font-family: var(--font-primary);
		font-size: 14px;
		line-height: 1.2857142857142858;
		font-weight: 500;

		letter-spacing: 0.02em;
		color: var(--channels-default);
	}

	.vc-membercount-online::before {
		content: "Online — ";
	}

	.vc-membercount-total::before {
		content: "Members — ";
	}
}
