.vc-membercount-widget.vc-membercount-member-list {
	flex-direction: column;
	justify-content: unset;
	pointer-events: none;

	.vc-membercount-online-dot,
	.vc-membercount-total-dot {
		display: none;
	}

	.vc-membercount-online,
	.vc-membercount-total {
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.02em;
		font-family: var(--font-display);
		font-weight: 600;
		color: var(--channels-default);
	}

	.vc-membercount-online::before {
		content: "ONLINE — ";
	}

	.vc-membercount-total::before {
		content: "MEMBERS — ";
	}
}
