.headerText_ec86aa,
.nameAndDecorators_e9f61e {
	.vc-platform-indicator {
		vertical-align: unset !important;
		height: 100%;

		svg {
			height: 12px;
			width: 12px;
		}
	}
}

.nameAndDecorators_e9f61e {
	.vc-platform-indicator {
		flex: 0 0 auto;
		position: relative !important;
		top: 1px !important;
		flex-shrink: 0;
		padding: 1px !important;
	}
}
