.message__80c10,
.memberInner_a32223,
.nameAndDecorators_cfd1ff,
.message-username-0 {
	.vc-platform-indicator {
		vertical-align: unset !important;
		height: 100%;

		svg {
			height: 12px;
			width: 12px;
		}
	}
}
