.videoControls_bfe55a .experimentWrapper__1405b {
	.buttonSection__1405b {
		&:nth-of-type(1) {
			.caretButtonContainer_f1ceac > div:nth-of-type(2) {
				display: none;
			}
			.avSpacing__1405b {
				display: none;
			}
		}
		&:nth-of-type(2) > div[class] {
			display: none;
		}
	}
	.fullRegionIcon_f1ceac {
		padding: 4px;
	}
}
