/* Singnal LVL0 - https://fonts.google.com/icons?selected=Material+Symbols+Rounded%3Asignal_cellular_connected_no_internet_0_bar%3AFILL%401%3Bwght%40400%3BGRAD%400%3Bopsz%4024&icon.query=Signal+Cellular&icon.set=Material+Symbols&icon.style=Rounded */
@include replacePath2(
	"M2 3a1 1 0 0 1 1-1c6.92 0 12.97 3.7 16.3 9.22.22.37-.15.86-.6.9-.2.02-.4.06-.6.12a.58.58 0 0 1-.67-.22C14.43 7.2 9.1 4 3 4a1 1 0 0 1-1-1ZM15.48 15.15a.5.5 0 0 0 .02-.47A14 14 0 0 0 3 7a1 1 0 0 0 0 2 12 12 0 0 1 10.95 7.09c.18.39.74.44.96.07l.57-1.01ZM2 13a1 1 0 0 1 1-1 9 9 0 0 1 9 9 1 1 0 1 1-2 0 7 7 0 0 0-7-7 1 1 0 0 1-1-1ZM2 17.83c0-.46.37-.83.83-.83C5.13 17 7 18.87 7 21.17c0 .46-.37.83-.83.83H3a1 1 0 0 1-1-1v-3.17Z",
	"M18.09 14.63c.4-.7 1.43-.7 1.82 0l3.96 6.9c.38.66-.12 1.47-.91 1.47h-7.92c-.79 0-1.3-.81-.91-1.48l3.96-6.9Zm.46 1.87h.9c.3 0 .52.26.5.55l-.22 2.02c-.01.16-.17.26-.33.23a1.93 1.93 0 0 0-.8 0c-.16.03-.32-.07-.33-.23l-.21-2.02a.5.5 0 0 1 .5-.55ZM19 22a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z",
	"M 3.6999999,20.299932 20.3,3.6999322 Q 20.775,3.2249322 21.3875,3.4874322 22,3.7499322 22,4.4249322 V 7.9999322 H 20 V 6.8249322 L 6.8249999,19.999932 H 18 V 21.999932 H 4.4249999 Q 3.7499999,21.999932 3.4874999,21.387432 3.2249999,20.774932 3.6999999,20.299932 Z M 21,21.999932 Q 20.575,21.999932 20.2875,21.712432 20,21.424932 20,20.999932 20,20.574932 20.2875,20.287432 20.575,19.999932 21,19.999932 21.425,19.999932 21.7125,20.287432 22,20.574932 22,20.999932 22,21.424932 21.7125,21.712432 21.425,21.999932 21,21.999932 Z M 20,16.999932 V 10.999932 Q 20,10.574932 20.2875,10.287432 20.575,9.9999322 21,9.9999322 21.425,9.9999322 21.7125,10.287432 22,10.574932 22,10.999932 V 16.999932 Q 22,17.424932 21.7125,17.712432 21.425,17.999932 21,17.999932 20.575,17.999932 20.2875,17.712432 20,17.424932 20,16.999932 Z"
);

/* Signal LVL1 - https://fonts.google.com/icons?selected=Material+Symbols+Rounded%3Asignal_cellular_1_bar%3AFILL%401%3Bwght%40400%3BGRAD%400%3Bopsz%4024&icon.query=Signal+Cellular&icon.set=Material+Symbols&icon.style=Rounded */
@include replacePath(
	"M2 13a1 1 0 0 1 1-1 9 9 0 0 1 9 9 1 1 0 1 1-2 0 7 7 0 0 0-7-7 1 1 0 0 1-1-1ZM2 17.83c0-.46.37-.83.83-.83C5.13 17 7 18.87 7 21.17c0 .46-.37.83-.83.83H3a1 1 0 0 1-1-1v-3.17Z",
	"M 4.425,22 Q 3.975,22 3.6875,21.7 3.4,21.4 3.4,21 3.4,20.8 3.475,20.625 3.55,20.45 3.7,20.3 L 20.3,3.7 Q 20.45,3.55 20.625,3.475 20.8,3.4 21,3.4 21.4,3.4 21.7,3.6875 22,3.975 22,4.425 V 20.5 Q 22,21.125 21.5625,21.5625 21.125,22 20.5,22 Z M 10,20 H 20 V 6.85 L 10,16.85 Z"
);

/* Signal LVL2 - https://fonts.google.com/icons?selected=Material+Symbols+Rounded%3Asignal_cellular_3_bar%3AFILL%401%3Bwght%40400%3BGRAD%400%3Bopsz%4024&icon.query=Signal+Cellular&icon.set=Material+Symbols&icon.style=Rounded */
@include replacePath2(
	"M3 7a1 1 0 0 0 0 2 12 12 0 0 1 12 12 1 1 0 1 0 2 0A14 14 0 0 0 3 7Z",
	"M3 12a1 1 0 1 0 0 2 7 7 0 0 1 7 7 1 1 0 1 0 2 0 9 9 0 0 0-9-9ZM2 17.83c0-.46.37-.83.83-.83C5.13 17 7 18.87 7 21.17c0 .46-.37.83-.83.83H3a1 1 0 0 1-1-1v-3.17Z",
	"M 4.425,22 Q 3.975,22 3.6875,21.7 3.4,21.4 3.4,21 3.4,20.8 3.475,20.625 3.55,20.45 3.7,20.3 L 20.3,3.7 Q 20.45,3.55 20.625,3.475 20.8,3.4 21,3.4 21.4,3.4 21.7,3.6875 22,3.975 22,4.425 V 20.5 Q 22,21.125 21.5625,21.5625 21.125,22 20.5,22 Z M 15,20 H 20 V 6.85 L 15,11.85 Z"
);

/* Signal LVL3 - https://fonts.google.com/icons?selected=Material+Symbols+Rounded%3Asignal_cellular_4_bar%3AFILL%401%3Bwght%40400%3BGRAD%400%3Bopsz%4024&icon.query=Signal+Cellular&icon.set=Material+Symbols&icon.style=Rounded */
@include replacePath3(
	"M2 3a1 1 0 0 1 1-1 19 19 0 0 1 19 19 1 1 0 1 1-2 0A17 17 0 0 0 3 4a1 1 0 0 1-1-1Z",
	"M2 8a1 1 0 0 1 1-1 14 14 0 0 1 14 14 1 1 0 1 1-2 0A12 12 0 0 0 3 9a1 1 0 0 1-1-1Z",
	"M3 12a1 1 0 1 0 0 2 7 7 0 0 1 7 7 1 1 0 1 0 2 0 9 9 0 0 0-9-9ZM2 17.83c0-.46.37-.83.83-.83C5.13 17 7 18.87 7 21.17c0 .46-.37.83-.83.83H3a1 1 0 0 1-1-1v-3.17Z",
	"M 4.425,22 Q 3.975,22 3.6875,21.7 3.4,21.4 3.4,21 3.4,20.8 3.475,20.625 3.55,20.45 3.7,20.3 L 20.3,3.7 Q 20.45,3.55 20.625,3.475 20.8,3.4 21,3.4 21.4,3.4 21.7,3.6875 22,3.975 22,4.425 V 20.5 Q 22,21.125 21.5625,21.5625 21.125,22 20.5,22 Z"
);

svg.ping__47992 {
	width: 12px;
	height: 12px;
	margin-left: 2px;
	margin-right: 6px;
	margin-bottom: 1px;
}
