.winButton__421ed {
	width: $btnwidth;
	height: $btnheight;
	color: #f2f2f2;

	@if $biggerAndBetter == 1 {
		margin: 6px 6px 6px 0px;
		border-radius: 4px;
	}
}

.winButtonClose__421ed:hover {
	background-color: #e81123;
}
