.winButton_a934d8 {
	top: unset;
	height: $barheight;
}

.typeWindows_a934d8.withFrame_a934d8 {
	height: $barheight;
	margin-top: unset;
}

.platform-win {
	.videoHeight_c84990 {
		&.normal_c84990 {
			height: calc(50vh - $barheight);
		}
		&.noChat_c84990 {
			height: calc(100vh - $barheight);
		}
	}

	.container_e40c16 {
		padding-top: $barheight;
		top: -$barheight;
	}

	.layer_d4b6c5 {
		top: -$barheight;
		padding-top: $barheight;
	}

	.bg_d4b6c5 {
		top: -$barheight;
	}
}

.settingsWrapper_e2ecbf.windows_e2ecbf {
	top: $barheight;
}
