.winButton_f17fb6 {
	top: unset;
	height: $barheight;
}

.typeWindows_e41dab.withFrame__5e49e {
	height: $barheight;
	margin-top: unset;
}

.platform-win {
	.videoHeight_b2861e {
		&.normal__179aa {
			height: calc(50vh - $barheight);
		}
		&.noChat__4bab9 {
			height: calc(100vh - $barheight);
		}
	}
}

.settingsWrapper__81bd9.windows__07bcb {
	top: $barheight;
}
