.wordmarkWindows_ffbc5e {
	padding: 9px;

	svg {
		content-visibility: hidden;
		display: none;
	}

	&::after {
		content: "Discord";
		font-family: "Segoe UI";
		font-size: 12px;
		font-weight: 400;
		color: var(--text-normal);
	}
}
