.container__93316 {
	margin: calc($ident / 2) calc($ident / 2) 0px calc($ident / 2);
	border-radius: $border-radius;
	background-color: $background-color-center;

	.chatContent__5dca8 {
		background-color: unset;
	}
}
