.container_b2ce9c {
	margin: calc($ident / 2) $ident calc($ident / 2) 0px;
	border-radius: $border-radius;
	background-color: $background-color-left;

	.membersWrap__90226 {
		margin: calc($ident / 2) 0px calc($ident / 2 * -1) 0px;

		.members__9f47b.thin_b1c063.scrollerBase_dc3aa9.fade_ba0fa0.customTheme_db4d28 {
			background-color: unset;
		}
	}
}
