div.chatContainer__23434 {
	.shc-lock-screen-outer-container {
		overflow: unset;

		.shc-lock-screen-container {
			background-color: $background-color-center;
			border-radius: $border-radius;
		}
	}
}
