@import "dmProfilePanel";
@import "dmFriendsList";
@import "guildBrowse";
@import "guildChat";
@import "guildMembers";
@import "guildServerGuide";
@import "guildThreads";
@import "guildTitle";
@import "vcShowHiddenChannels";

.chat__52833 {
	background-color: unset;
	margin-bottom: $ident;
	padding-bottom: calc($ident / 2);

	&:has(.callContainer_cbde45) {
		padding-bottom: unset;
		margin: 0px $ident $ident calc($ident / 2);
		border-radius: $border-radius;
	}
}
