@import "variables";
@import "centerPanel";
@import "leftPanel";
@import "addons";

.base__3e6af {
	padding-top: 4px;

	.notice__5fd4c {
		margin: 0px $ident $ident 0px;
		border-radius: $border-radius;
	}
}

.theme-dark .container_ca50b9 {
	background-color: unset;
}
