#emoji-picker-tab-panel {
	.listItems_d53d65 > div {
		&:has(.categoryItemLockIconContainer_bfabc4) {
			pointer-events: none;

			svg:has(img) {
				display: none;
			}
		}
	}
}

#emoji-picker-grid {
	.nitroTopDividerContainer_e8f337,
	.nitroBottomDivider_a3bc57{
		display: none;
	}

	.categorySectionNitroLocked_a3bc57 {
		.headerIcon_e06857 {
			display: none;

			& + .headerLabel_e06857 {
				margin-left: unset;
			}
		}

		&.categorySectionCollapsed_a3bc57 {
			pointer-events: none;
			background-color: unset;
		}

		.emojiListRow_fbfedd li:has(img.lockedEmoji_bcf389) {
			pointer-events: none;
			display: none;
		}
	}

	.upsellContainer_a3bc57 {
		display: none;
	}
}
