#emoji-picker-tab-panel {
	.listItems_affa7e > div {
		&:has(.categoryItemLockIconContainer__0fa6d) {
			pointer-events: none;

			svg:has(img) {
				display: none;
			}
		}
	}
}

#emoji-picker-grid {
	.nitroTopDividerContainer_b3fb5f,
	.nitroBottomDivider_c656ac {
		display: none;
	}

	.categorySectionNitroLocked_c656ac {
		.headerIcon__14245 {
			display: none;

			& + .headerLabel__14245 {
				margin-left: unset;
			}
		}

		&.categorySectionCollapsed_c656ac {
			pointer-events: none;
			background-color: unset;
		}

		.emojiListRow_fc7141 li:has(img.lockedEmoji_d982c2) {
			pointer-events: none;
			display: none;
		}
	}

	.upsellContainer_a3bc57 {
		display: none;
	}
}
