.custom-user-profile-theme {
	--profile-gradient-primary-color: var(--background-surface-high) !important;
	--profile-gradient-secondary-color: var(--background-surface-high) !important;
	--profile-gradient-overlay-color: rgba(0, 0, 0, 0) !important;
	--profile-gradient-button-color: var(--background-mod-subtle) !important;

	--theme-base-color-light-hsl: unset !important;
	--theme-base-color-light: unset !important;
	--theme-text-color-light: unset !important;

	--theme-base-color-dark-hsl: unset !important;
	--theme-base-color-dark: unset !important;
	--theme-text-color-dark: unset !important;

	--theme-base-color-amount: 0% !important;
	--theme-text-color-amount: 0% !important;

	--bg-overlay-selected: unset !important;
	--bg-overlay-hover: unset !important;
	--bg-overlay-active: unset !important;
}
