.side_a0 {
	.header_a0:has(+ .premiumTab_c10c74) {
		display: none;
		& ~ .item_a0:not(.premiumTab_c10c74 ~ .separator_a0 ~ .item_a0) {
			display: none;
			& + .separator_a0 {
				display: none;
			}
		}
	}
	.socialLinks_c44e94 {
		display: none;
	}
}

#profile-customization-tab {
	.tryItOutSection_eb2d2c,
	.container_da1432:has(.artContainer_da1432, .mainColumn_da1432),
	.profileCustomizationSection_bad983 .upsellOverlayContainer_eb49af {
		display: none;
	}

	.profileCustomizationSection_bad983 .customizationSection_b3a5c2 {
		&:nth-child(4),
		&:nth-child(5) {
			display: none;
		}
	}
}

#appearance-tab {
	.marginTop8_f7730b:nth-of-type(2) {
		.basicThemeSelectors_ + *:has(.themeSelectionContainer_cb7c27),
		.selectionGroup_bde965 {
			display: none;
		}
	}
}

div[id="voice-&-video-tab"] {
	.container_ce3dd8:has(.soundboardRow_c9d62c),
	div > h4 ~ .backgroundOptions_ad7d79,
	div > h4:nth-of-type(2) {
		display: none;
	}
}
