.side_b4b3f6 {
	@for $i from 11 through 17 {
		& > :nth-child(#{$i}) {
			display: none;
		}
	}

	.socialLinks_dbdd6f {
		display: none;
	}
}

div#profile-customization-tab {
	div.tryItOutSection_d658ca,
	div.container__686c4:has(div.artContainer__394fc, div.mainColumn__19e37),
	div.profileCustomizationSection_c4a87a div.upsellOverlayContainer__9580e {
		display: none;
	}

	div.profileCustomizationSection_c4a87a div.customizationSection__0f57e {
		&:nth-child(4),
		&:nth-child(5) {
			display: none;
		}
	}
}

div#appearance-tab {
	div.marginTop8__7da6c:nth-of-type(2) {
		section.basicThemeSelectors__5ca8c + *:has(div.themeSelectionContainer__26fcc),
		div.selectionGroup_f2b958 {
			display: none;
		}
	}
}

div[id="voice-&-video-tab"] {
	div.container_cbaca1:has(div.soundboardRow__4c0f5),
	div > h4 ~ div.backgroundOptions_b49a97,
	div > h4:nth-of-type(2) {
		display: none;
	}
}
