.icon_d80634,
.iconSizeSmol_a64689,
.replyAvatar_f9f2ca,
.executedCommandAvatar_f9f2ca {
	border-radius: $rounding-16px !important;
}

.embedFooterIcon_b0068a {
	border-radius: $rounding-20px !important;
}

.avatar_d03bba,
.avatarSmall_d80634,
.embedAuthorIcon_b0068a {
	border-radius: $rounding-24px !important;
}

.small_a9e62c {
	border-radius: $rounding-30px !important;
}

.gameIcon_bf1a22,
.hangStatusIcon_ba4b17,
.avatarSpeaking_c51b4e {
	border-radius: $rounding-32px !important;
}

.iconSizeMedium_a64689,
.avatar_f9f2ca {
	border-radius: $rounding-40px !important;
}

.icon_f90abb {
	border-radius: $rounding-48px !important;
}

.a11y-font-scaled-down .avatar_f9f2ca:not(.compact_f9f2ca) {
	border-radius: $rounding-2d5rem !important;
}

.avatar_f94206.biteSize_f94206 .overlay_f94206:after,
.avatar_f18fcb .overlay_f18fcb:after {
	border-radius: $rounding-80px !important;
}
