.icon__07f91,
.iconSizeSmol_f34534,
.replyAvatar_c19a55,
.executedCommandAvatar_c19a55 {
	border-radius: $rounding-16px !important;
}

.embedFooterIcon__623de {
	border-radius: $rounding-20px !important;
}

.avatar__183c2,
.avatarSmall__07f91,
.embedAuthorIcon__623de {
	border-radius: $rounding-24px !important;
}

.small_b52e4f {
	border-radius: $rounding-30px !important;
}

.gameIcon__5dec7,
.hangStatusIcon__2f4f7,
.avatarSpeaking__44b0c {
	border-radius: $rounding-32px !important;
}

.iconSizeMedium_f34534,
.avatar_c19a55 {
	border-radius: $rounding-40px !important;
}

.icon__6e9f8 {
	border-radius: $rounding-48px !important;
}

.a11y-font-scaled-down .avatar_c19a55:not(.compact_c19a55) {
	border-radius: $rounding-2d5rem !important;
}

.avatar__75742.biteSize__75742 .overlay__75742:after,
.avatar_f9d668 .overlay_f9d668:after {
	border-radius: $rounding-80px !important;
}
