.iconSizeSmol_f11207,
.replyAvatar_f9f2ca {
	border-radius: $rounding-16px !important;
}

.avatarSmall_cdc675 {
	border-radius: $rounding-24px !important;
}

.avatarSpeaking_c51b4e {
	border-radius: $rounding-32px !important;
}

.iconSizeMedium_f11207,
.avatar_f9f2ca {
	border-radius: $rounding-40px !important;
}

.icon_f90abb {
	border-radius: $rounding-48px !important;
}

.a11y-font-scaled-down .avatar_f9f2ca:not(.compact_ec86aa) {
	border-radius: $rounding-2d5rem !important;
}

.avatar_f94206.biteSize_f94206 .overlay_f94206:after,
.avatar_f18fcb .overlay_f18fcb:after {
	border-radius: $rounding-80px !important;
}
