#app-mount > svg > mask {
	&[id^="svg-mask-avatar-status"],
	&[id^="svg-mask-avatar-default"],
	&[id^="svg-mask-avatar-voice-call"] {
		& > circle[fill="white"] {
			r: 1;
		}
	}
}

svg.mask__44b0c {
	& > mask[id^=":r"][id$=":"] > circle {
		r: 64;
	}

	& > foreignObject {
		&[mask^="url(#svg-mask-avatar-status"],
		&[mask^="url(#svg-mask-avatar-default"],
		&[mask^="url(#svg-mask-avatar-voice-call"],
		&[mask^="url(#:r"][mask$=":)"] {
			& > div {
				mask: url('data:image/svg+xml,<svg viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg"><rect fill="white" x="0" y="0" width="1" height="1" rx="#{calc($rounding-radius / 100)}" ry="#{calc($rounding-radius / 100)}" /></svg>');
			}
		}
	}
}
