.voiceSection_cd82a7 {
	.partyMember_b448f2 {
		-webkit-mask: unset;
		mask: unset;
		margin-left: 4px;
	}
	
	.voiceSectionGuildImage_cd82a7 {
		-webkit-mask: unset;
		mask: unset;
		border-radius: $rounding-32px !important;
	}
}
