.voiceSection__00943 {
	.partyMember_e45a82 {
		-webkit-mask: unset;
		mask: unset;
		margin-left: 4px;
	}

	.voiceSectionGuildImage__00943 {
		-webkit-mask: unset;
		mask: unset;
		border-radius: $rounding-32px !important;
	}

	.partyMemberOverflow_e45a82 {
		margin-left: 8px;
		border-radius: $rounding-24px;
	}
}
