tr.memberRowContainer__8a95f div.memberAvatar__2b812 img.avatar__991e2 {
	border-radius: $avatar-32px;
}

div.auditLog__9228d div.avatar_ab0f91 img.avatar__991e2 {
	border-radius: $avatar-40px;
}

div.contentWidth_f1e6d4 div.memberRow_d581f4 div.memberDetails__04156 img.avatar__991e2 {
	border-radius: $avatar-24px;
}
