.facepile_cfbfb9 {
	.facePileItem_cfbfb9 {
		& > foreignObject[mask="url(#svg-mask-guild-popout-activity-icon)"] {
			mask: none;
		}
		&:not(:first-child) {
			margin-left: 4px;
		}
	}
	.othersCount_cfbfb9 {
		margin-left: 4px;
		border-radius: $rounding-20px;
	}
}
