tr.memberRowContainer_f0d0e5 div.memberAvatar__0cf3a img.avatar__991e2 {
	border-radius: $avatar-32px;
}

div.auditLog__6c805 div.avatar_ab0f91 img.avatar__991e2 {
	border-radius: $avatar-40px;
}

div.contentWidth_b55791 div.memberRow__91c35 div.memberDetails__89414 img.avatar__991e2 {
	border-radius: $avatar-24px;
}