$guild-list-normal: $rounding-48px;
$guild-list-selected: calc($guild-list-normal * 1.75);

.listItem__650eb {
	.wrapperSimple_cc5dd2 {
		border-radius: $guild-list-normal;
	}

	.wrapper_cc5dd2 > svg {
		border-radius: $guild-list-normal;
		transition: border-radius 150ms ease-out;
		background-color: var(--background-secondary);

		&:has(.selected__6e9f8) {
			border-radius: $guild-list-selected;
		}

		& > defs > path {
			d: path("M 0,0 H 48 V 48 H 0 Z");
		}

		.folderIconWrapper__48112 {
			border-radius: unset;

			.closedFolderIconWrapper__48112 > div.guildIcon__48112 {
				border-radius: calc($guild-list-normal / 2);

				&:not(.noIcon_f34534) {
					background-color: var(--background-secondary);
				}
			}
		}
	}

	.selected_e5445c > .wrapper_cc5dd2 > svg {
		border-radius: $guild-list-selected;
	}
}
