div.sidebar_e031be div.scrollerBase_f742b2 li.containerDefault_ae2ea4 div.voiceUser__629a5 {
	div.avatar_a56eee {
		&.avatarSmall__85dc8 {
			border-radius: $avatar-24px;
		}
	}
}

div.chat__52833 {
	aside.membersWrap__5ca6b div.memberInner__4dac6 img.avatar__991e2 {
		border-radius: $avatar-32px;
	}

	div.noChat_ce920d.video__004a2 {
		div.tile_f5f57f img.avatar__991e2 {
			border-radius: $avatar-80px;
		}

		div.upperContainer__57565 div.container__6ae8e {
			img.avatar__991e2 {
				border-radius: $avatar-24px;
			}

			div.viewers_f1b3c4 div.wrapper__3ed10.viewer__9d270 {
				margin-left: unset;
				-webkit-mask: unset;
				mask: unset;
				margin-right: 4px;
			}
		}
	}
}

.container__03b79 {
	border-radius: 3px;
}
