div.messagesWrapper_ea2b0b li.messageListItem__6a4fb {
	div.contents_f41bb2 > img.avatar__08316 {
		border-radius: $avatar-32px;
	}

	div.repliedMessage_e2bf4a img.replyAvatar_cea07c {
		border-radius: $avatar-16px;
	}
}

div.autocompleteRowIcon_e7f1e9 {
	img.avatar__991e2 {
		border-radius: $avatar-24px;
	}
}
