div.messagesWrapper_add28b li.messageListItem__050f9 {
	div.contents_d3ae0d > img.avatar__08316 {
		border-radius: $avatar-32px;
	}

	div.repliedMessage__636d2 img.replyAvatar__4ba85 {
		border-radius: $avatar-16px;
	}
}

div.autocompleteRowIcon__8d986 {
	img.avatar__991e2 {
		border-radius: $avatar-24px;
	}
}
