nav.privateChannels__9b518 li.channel__0aef5,
div.peopleColumn__0c784 div.peopleListItem_dab480 {
	img.avatar__991e2 {
		border-radius: $avatar-32px;
	}
}

div.chat__52833 {
	// Also in guild while screenshare
	div.upperContainer__57565 img.avatar__991e2 {
		border-radius: $avatar-24px;
	}

	div.list__325e7 div.messageRequestItem__9f70d img.avatar__991e2 {
		border-radius: $avatar-40px;
	}

	div.chatContainer__23434 div.container_cd7d9c img.avatar__991e2 {
		border-radius: $avatar-80px;
	}
}

div.nowPlayingColumn_b025fe div.itemCard_b64118 {
	div.headerAvatar__96ca7 {
		img.avatar__991e2 {
			border-radius: $avatar-32px;
		}
	}

	div.body__616e6 {
		div.applicationStreamingAvatar_d302e9 {
			img.avatar__991e2 {
				border-radius: $avatar-32px;
			}
		}

		div.voiceSectionAssets__53cc6 {
			img.voiceSectionGuildImage__80942 {
				border-radius: $avatar-32px;
				-webkit-mask: unset;
				mask: unset;
			}
		}

		div.partyMembers_bc7c6a {
			& > div.partyMember_ed825a {
				padding-left: 4px;
				margin-left: unset;
				-webkit-mask: unset;
				mask: unset;

				img.avatar__991e2 {
					border-radius: $avatar-24px;
				}
			}

			div.partyMemberOverflow_fa82b9 {
				// width: var(--custom-party-avatars-avatar-diameter);
				// height: var(--custom-party-avatars-avatar-diameter);
				border-radius: $avatar-24px;
				margin-left: 4px;
				padding: unset;
			}
		}
	}
}

// Message requests sidebar-chat
div.container__694a1 {
	div.upperContainer__57565 img.avatar__991e2 {
		border-radius: $avatar-24px;
	}
	div.chat__4eed1 div.messagesWrapper_add28b div.container_cd7d9c img.avatar__991e2 {
		border-radius: $avatar-80px;
	}
}
