div.listItem__48528 {
	div.wrapperSimple__9e2b0 {
		border-radius: $guild-list-normal;
	}

	div.wrapper__9916c > svg {
		border-radius: $guild-list-normal;
		transition: border-radius 150ms ease-out;
		background-color: var(--background-secondary);

		&:has(.selected_ae80f7) {
			border-radius: $guild-list-selected;
		}

		& > defs > path {
			d: path("M 0,0 H 48 V 48 H 0 Z");
		}

		div.folderIconWrapper__11165 {
			border-radius: unset;

			div.closedFolderIconWrapper__722d5 > div.guildIcon_b6bfa7 {
				border-radius: calc($guild-list-normal / 2);

				&:not(.noIcon__06e39) {
					background-color: var(--background-secondary);
				}
			}
		}
	}

	div.selected_e85eba > div.wrapper__9916c > svg {
		border-radius: $guild-list-selected;
	}
}
