div.layerContainer_a2fcaa div.tooltipContent_adb6d5 {
	div.row_f694ee > div.size24_f4a88d {
		.avatar__777a6 {
			border-radius: $avatar-24px;
		}

		svg {
			&.avatarContainerMasked_ed6212 {
				margin-right: 4px;
			}

			& > foreignObject {
				mask: unset;
			}
		}
	}
}
