@use "sass:math";

@function getBannerMask($bannerW, $bannerH, $avatarW, $avatarH, $avatarX, $avatarY, $avatarRound) {
	@return url("data:image/svg+xml;base64," + encodeBase64(
			'<svg width="#{$bannerW}" height="#{$bannerH}" viewBox="0 0 #{$bannerW} #{$bannerH}" xmlns="http://www.w3.org/2000/svg">' +
				'<defs><filter id="invert-alpha"><feColorMatrix type="matrix" values="1 0 0 0 1  0 1 0 0 1  0 0 1 0 1  0 0 0 -1 1"/></filter></defs><g filter="url(#invert-alpha)">' +
				'<rect fill="transparent" x="0" y="0" width="100%" height="100%"></rect>' +
				'<rect fill="black" rx="#{$avatarRound}" ry="#{$avatarRound}" x="#{$avatarX}" y="#{$avatarY}" width="#{$avatarW}" height="#{$avatarH}"></rect>' +
				"</g></svg>"
		));
}

.userProfileModalInner_c69a7b {
	&.userProfileInnerThemedNonPremium_c69a7b {
		.bannerSVGWrapper_b32cc2 foreignObject {
			--mask: #{getBannerMask(600px, 106px, 136px, 136px, 14px, 32px, calc($rounding-120px * 1.5))};
			mask: var(--mask);
			-webkit-mask: var(--mask);
		}
	}

	&.userProfileInnerThemedPremiumWithoutBanner_c69a7b {
		.bannerSVGWrapper_b32cc2 foreignObject {
			--mask: #{getBannerMask(600px, 106px, 136px, 136px, 14px, 32px, calc($rounding-120px * 1.5))};
			mask: var(--mask);
			-webkit-mask: var(--mask);
		}
	}

	&.fullSizeInnerThemed_c69a7b {
		.bannerSVGWrapper_b32cc2 foreignObject {
			--mask: #{getBannerMask(600px, 212px, 136px, 136px, 16px, 136px, calc($rounding-120px * 1.5))};
			mask: var(--mask);
			-webkit-mask: var(--mask);
		}
	}
}

.userPopoutInner_c69a7b {
	&.userProfileInnerThemedNonPremium_c69a7b {
		.bannerSVGWrapper_b32cc2 foreignObject {
			--mask: #{getBannerMask(340px, 120px, 92px, 92px, 16px, 10px, calc($rounding-80px * 1.5))};
			mask: var(--mask);
			-webkit-mask: var(--mask);
		}
	}

	&.userProfileInnerThemedPremiumWithoutBanner_c69a7b {
		.bannerSVGWrapper_b32cc2 foreignObject {
			--mask: #{getBannerMask(340px, 120px, 92px, 92px, 12px, 36px, calc($rounding-80px * 1.5))};
			mask: var(--mask);
			-webkit-mask: var(--mask);
		}
	}

	&.biteSizeInnerThemed_c69a7b {
		.bannerSVGWrapper_b32cc2 foreignObject {
			&:has(.biteSizeBannerPremium_c3e427) {
				--mask: #{getBannerMask(300px, 105px, 92px, 92px, 6px, 51px, calc($rounding-80px * 1.5))};
			}

			--mask: #{getBannerMask(300px, 105px, 92px, 92px, 10px, 55px, calc($rounding-80px * 1.5))};
			mask: var(--mask);
			-webkit-mask: var(--mask);
		}
	}

	.avatarHintInner_f89da9,
	.hoverIconWrapper_ab876d,
	.imageUploaderInner_de76e4 {
		border-radius: $rounding-80px;
	}
}

.userPanelInner_c69a7b {
	&.userPanelInnerThemed_c69a7b {
		.bannerSVGWrapper_b32cc2 foreignObject {
			--mask: #{getBannerMask(340px, 120px, 92px, 92px, 10px, 66px, calc($rounding-80px * 1.5))};
			mask: var(--mask);
			-webkit-mask: var(--mask);
		}
	}
}

.accountProfileCard_b69b77 {
	.bannerSVGWrapper_b32cc2 foreignObject {
		--mask: #{getBannerMask(660px, 100px, 92px, 92px, 16px, 76px, calc($rounding-80px * 1.5))};
		mask: var(--mask);
		-webkit-mask: var(--mask);
	}
}
