$avatar-16px: 3px;
$avatar-20px: 3px;
$avatar-24px: 3px;
$avatar-32px: 4px;
$avatar-40px: 4px;
$avatar-48px: 4px;
$avatar-56px: 6px;
$avatar-80px: 8px;
$avatar-120px: 8px;
$guild-list-normal: 8px;
$guild-list-selected: 12px;
