$font-cdn: "https://bestfonts.pro/fonts_files/60732d534960024ecb93d3b1/files/";

@font-face {
	font-family: "Uniform Pro Condensed";
	src:
		local("Uniform Pro Condensed Medium"),
		local("UniformProCon-Med"),
		url($font-cdn + "UniformProCon-Med.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Uniform Pro Condensed";
	src:
		local("Uniform Pro Condensed Medium Italic"),
		local("UniformProCon-MedIt"),
		url($font-cdn + "UniformProCon-MedIt.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Uniform Pro Condensed";
	src:
		local("Uniform Pro Condensed Bold"),
		local("UniformProCon-Bld"),
		url($font-cdn + "UniformProCon-Bld.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Uniform Pro Condensed";
	src:
		local("Uniform Pro Condensed Bold Italic"),
		local("UniformProCon-BldIt"),
		url($font-cdn + "UniformProCon-BldIt.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Uniform Pro Condensed";
	src:
		local("Uniform Pro Condensed Black"),
		local("UniformProCon-Blk"),
		url($font-cdn + "UniformProCon-Blk.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Uniform Pro Condensed";
	src:
		local("Uniform Pro Condensed Black Italic"),
		local("UniformProCon-BlkIt"),
		url($font-cdn + "UniformProCon-BlkIt.woff2") format("woff2");
	font-weight: 900;
	font-style: italic;
}
