.theme-light .base_a4d4d9 {
	&::before {
		content: "noname.theme: Dark mode supported only!";

		background-color: var(--yellow-300);
		color: var(--black-500);

		font-size: 14px;
		line-height: 36px;
		font-weight: 500;
		text-align: center;
		position: relative;
		padding-left: 4px;
		padding-right: 28px;
		z-index: 101;
		flex-shrink: 0;
		flex-grow: 0;
		border-radius: 8px 0 0;
		box-shadow: var(--elevation-low);
	}

	.notice__5fd4c,
	.sidebar_a4d4d9 {
		border-radius: 0;
	}
}
